* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  /* background-color: rgb(217, 236, 253); */
  background-image: linear-gradient(
      to bottom,
      rgba(66, 66, 66, 0.64),
      rgba(66, 66, 66, 0.64)
    ),
    url("../images/landing-background.jpg");
  background-size: 100vw 100vh;
  background-repeat: no-repeat;

  font-family: "Roboto", sans-serif;
  font-weight: normal;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*
Header
*/
#index__header {
  justify-content: space-between;
  margin: 1rem 6rem 1rem 6rem;
}
#index__logo-header {
  width: 10rem;
}
.sign-login li a {
  color: rgba(255, 255, 255, 1);
}
.sign-login li a:hover {
  color: #b2b2b2;
}
a,
ul {
  text-decoration: none;
  list-style: none;
}
.sign-login {
  gap: 2rem;
  font-size: 1.6rem;
}

/*
Main
*/
#index__main {
  flex-direction: column;
  align-items: start;
  gap: 1rem;
  height: 60vh;
  margin: auto 25rem auto 18rem;
  color: rgba(255, 255, 255, 1);
}

#index__main h2 {
  font-size: 5rem;
  font-weight: 500;
}
#index__main h3 {
  font-size: 3rem;
  font-weight: 500;
}

/* Search Container */
#index__search-container {
  justify-content: space-between;
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
}
.icon-search {
  gap: 1rem;
  margin-left: 2rem;
  max-width: 100%;
}
.icon {
  stroke: rgba(73, 198, 244, 1);
  width: 2rem;
  height: auto;
  max-width: 100%;
}
.icon:hover {
  stroke: #a4a4a4;
}
input {
  outline: none;
  border: 0px;
  font-size: 1.6rem;
  max-width: 100%;
}
input:focus {
  outline: none;
  border: 0px;
}
#search-button {
  background-color: rgba(73, 198, 244, 1);
  border: none;
  border-radius: 0.5rem;
  padding: 1rem 4rem;
  cursor: pointer;
  max-width: 100%;
}
#search-button:hover {
  color: rgba(73, 198, 244, 1);
  background-color: #a4a4a4;
}

@media (max-width: 745px) {
  html {
    font-size: 6px;
  }
  #index__main {
    margin: auto 4rem;
    height: 75vh;
  }
}
